.buy__wrapper {
  display: flex;
  position: relative;
  width: 728px;
  height: 444px;
  margin: 250px auto;
  background-color: #FBF8F8;
  justify-content: right;

  background-image: url("../img/buy-modal-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 338px auto;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/buy-modal-desktop@2x.jpg");
  }
}

.buy__content {
  width: 390px;
}

.buy__header {
  margin-top: 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #48494D;
}

.buy__form {
  width: 270px;
  margin: 0 auto;
}

.buy__input {
  width: 269px;
  height: 50px;
  margin-bottom: 20px;
  padding: 16px 26px;
  box-sizing: border-box;
  border: 1px solid rgba(44, 46, 63, 0.3);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $very-dark;
}

.buy__label--phone {
  position: relative;
}

.buy__label--phone:before {
  content: "*";
  display: block;
  position: absolute;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  color: $accent;
  z-index: 3;

  top: -6px;
  left: 16px;
}

.buy__button--send {
  width: 176px;
  height: 50px;
  margin: 0 auto;
}
