.contacts {
  width: 270px;
}

.contacts__item {
  padding-left: 40px;
  padding-bottom: 20px;
}

.contacts__link {
  color: $accent;
  text-decoration: underline;
}

.contacts__link:hover {
  color: $accent-hover;
}

@media (max-width: $desktop-width) {
  .contacts {
    width: 38%;
    margin-bottom: 30px;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__item {
    padding-left: 15px;
  }
}
