.modal {
  display: none;
  position: fixed;
  top: 0;
  left: calc(50vw - 50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal--show {
  display: block;
}

@media (max-width: $tablet-width) {
  .modal {
    top: 100px;
  }
}
