.page-footer {
  margin-top: 70px;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5);
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  @include wrapper();
}

.page-footer__header {
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $text-color;
}

@media (max-width: $desktop-width) {
  .page-footer__header {
    font-weight: 600;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    text-align: center;
  }

  .page-footer__wrapper {
    padding: 0 14px;
  }
}
