.success {
  align-items: center;
}

.success__header {
  width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #48494D;
}

.success__button--close {
  width: 22px;
  height: 22px;
  border: none;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
}

.success__button--close::before,
.success__button--close::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -4px;

  width: 30px;
  height: 1px;

  background-color: rgba(20, 21, 23, 0.2);
}

.success__button--close::before {
  transform: rotate(45deg);
}

.success__button--close::after {
  transform: rotate(-45deg);
}
