.success__wrapper {
  display: flex;
  position: relative;
  width: 728px;
  height: 444px;
  margin: 250px auto;
  background-color: #FBF8F8;
  justify-content: center;
  align-items: center;
}

.success__header {
  width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #48494D;
}
