.tabs__wrapper {
  @include wrapper();
}

.tabs__countries-list {
  display: flex;
  margin-bottom: 95px;
}

.tabs__countries-item {
  margin-right: 99px;
}

.tabs__country {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.415px;
  color: rgba(44, 46, 63, 0.3);
  cursor: pointer;

  &:hover {
    color: $accent-hover;
  }

  &--checked,
  &--checked:hover {
    color: $accent;
    cursor: default;
  }
}

@media (max-width: $desktop-width) {
  .tabs__wrapper {
    padding: 0;
  }

  .tabs__countries-list {
    margin: 98px $tablet-padding 48px $tablet-padding;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .tabs__countries-list {
    margin-top: 40px;
    margin-bottom: 39px;
  }
}
