@mixin wrapper() {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;

  @media (max-width: $desktop-width) {
    max-width: $desktop-width;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (max-width: $tablet-width) {
    max-width: $tablet-width;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}
